<div class="row">
  
</div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1 *ngIf="connected()">ManageBCE</h1>
      <h1 *ngIf="!connected()" [routerLink]="'/home'">ManageBCE</h1>
      <!-- <span class="menu-spacer"></span> -->
      <span class="example-spacer"></span>
      <div class="menu">
        <a *ngIf="!connected()" mat-button [routerLink]="'/register'"> Register </a>
        <button *ngIf="connected()" mat-button [matMenuTriggerFor]="belowMenu"  mat-icon-button class="account_circle" aria-label="account_circle">
        <mat-icon >account_circle</mat-icon>
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button class="user" [routerLink]="'/user'" mat-menu-item>Profile</button>
          <button (click)="logOut()" class="user" mat-menu-item>Log Out</button>
        </mat-menu>
  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container >
    <mat-sidenav  #sidenav>
      <mat-nav-list >
        <div id="leftMenu">
            <a mat-list-item [routerLink]="'/charges'"> Future Payments </a>
            <a mat-list-item [routerLink]="'/payments'"> History of Payments</a>
            <a mat-list-item [routerLink]="'/meeting'"> Meetings </a>
        <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
  
        </div>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <div id="router">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>