#main{
    min-height: 1200px;
    max-height: 1200px;
    width: 100%;
}

.jumbotron{
    margin: 20px;
    padding: 10px;
}

button{
    border-radius:28px;
    border:1px solid #18ab29;
}

.newPay{
    margin: 20px;
    /* height: 400px; */
}

span{
    margin-right: 20px;
    font-size: 24px;
}

#btns{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#form{
    margin-left: 50px;
}

.inp{
    /* margin-left: 20px; */
    /* padding-left: 20px; */
}

.tableExplanation{
    /* z-index: 100; */
    text-align: center;
    position: relative;
    display: block;
    margin-bottom: 80px;
}

.titleTableExplanation{
    position: relative;
    font-size: 60px;
    text-align: center;
    line-height: 1.6;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 20px 0px 30px 0px;
}

@media only screen and (max-width: 768px) {
    .jumbotron{
        min-height: 800px;
    }

    #btns{
        margin-top: 400px;
    }

    #add{
        display: none;
    }
}

