
.mainImg { 
    filter: brightness(60%);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    max-height: 95vh;
    /* max-height: 720px; */
    min-height: 95vh
}

h1{
    color: white;
    font-size: 72px;
    line-height: 1;
    font-family: 'PT Serif', serif;
}

h3{
    color: white;
    font-size: 16px;
}

#company_name{
    margin-left: 45px;
    margin-top: 24px;
    text-align: center;
    /* line-height: 2; */
}

#company_name:hover{
    text-shadow: 2px 2px black;
    /* box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);} */
}

#company_moto{
    margin-left: 20px;
    text-align: center;
    text-shadow: 2px 2px black;
}


h2{
    line-height: 1;
    color: rgb(160, 76, 17);
    /* margin-left: px; */
    font-weight: bolder;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Crimson Text', serif;

    font-size: 36px;
}

#title_section2{
    margin-top: 80px;
}

#reasons_title{
    color: #2a3e52;
    font-size: 46px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

#section2{
    padding-top: 30px;
    background-color:#f5f9fd;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 0);
}
.img_sec{
    margin-bottom: 20px;
}

#reasons_imgs{
    padding: 0;
    margin-top: 50px;
    margin-bottom: 80px;
    height: 620px;
    /* margin-left: 20px; */
}

#subtitle_section2{
    margin-top: 12px;
}

#reasons_subtitle{
    text-align: center;
    font-size: 28px;
    color: #2a3e52;
    line-height: 1.6;
    font-family: sans-serif;
}

h4{
    margin-bottom: 20px;
}

.card{
    min-height: 550px;
    max-height: 550px;
    min-width: 300px;
    max-width: 300px;
}

.card:hover{
    -webkit-box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);
    box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);
    animation: course_container 5s linear 0s 1 normal forwards;
}

@keyframes course_container{
    0%{
        transform: translateX(-10px);
        font-weight: bold;
        transform: scale(1.05)
        /* border: 1px solid; */
        /* padding: 50px; */
        /* box-shadow: 5px 10px; */
    }

    25%{
        transform: translateX(-20px);
        font-weight: bold;
        transform: scale(1.1)

    }

    50%{
        transform: translateX(-10px);
        font-weight: bolder;
        transform: scale(1.15)
    }

    75%{
        transform: translateX(0px);
        font-weight: bolder;
        transform: scale(1.1)
    }

    100%{
        transform: translate(0);
        font-weight: bolder;
        transform: scale(1.05)
    }
}

.card-text{
    text-align: initial;
    margin-bottom: 10px;
}

.card-text-color-1{
    color: slateblue;
}

.card-text-color-2{
    color: teal;
}

.card-text-color-3{
    color: chocolate;
}

#login{
    /* margin: 0px; */
    /* margin-left: 50px; */
    /* padding-left: 200px; */
    /* width:200px; */
}

.explanation_section_left{
    padding-left: 150px;
    
}

.explanation_section_right{
    padding-right: 150px;
    
}

span{
    text-align: center;
}

.explanation_section{
    padding-left: 75px;
    padding-right: 75px;
}

.example-card {
    max-width: 400px;
  }
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}
 
.card-img-top{
    height: 220px;
}

#middle{
    height: 50px;
    background-color:#e5e8ec38
}

#section3{
    height: 500px;
    margin-bottom: 50px;
}

#title_section3{
    color: darkcyan;
    font-size: 36px;
}

#section4{
    /* height: 201px; */
    padding: 0px;
    
}
.purple {
    background-color: rgb(48, 92, 175) !important;
}

.section3_img{
    min-height: 200px;
    max-height: 200px;
}

.section3_why_great:hover{
    animation: section3_why_great_animation 5s linear 0s 1 normal forwards;

}

@keyframes section3_why_great_animation{
    0%{
        transform: translateX(-10px);
        font-weight: bold;
        transform: scale(1.002)
        /* border: 1px solid; */
        /* padding: 50px; */
        /* box-shadow: 5px 10px; */
    }

    25%{
        transform: translateX(-20px);
        font-weight: bold;
        transform: scale(1.04)

    }

    50%{
        transform: translateX(-10px);
        font-weight: bolder;
        transform: scale(1.05)
    }

    75%{
        transform: translateX(0px);
        font-weight: bolder;
        transform: scale(1.04)
    }

    100%{
        transform: translate(0);
        font-weight: bolder;
        transform: scale(1.02)
    }
}

#signUp_btn_section3{
    border-radius: 25px;
    margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    h1{
        color: white;
        font-size: 30px;
        line-height: 1;
        font-family: 'PT Serif', serif;
    }
    
    h3{
        color: white;
        font-size: 12px;
    }
    
    #company_name{
        margin-left: 10px;
        margin-top: 24px;
        text-align: center;
        /* line-height: 2; */
    }
    
    #company_name:hover{
        text-shadow: 2px 2px black;
        /* box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);} */
    }
    
    #company_moto{
        margin-left: 20px;
        text-align: center;
        text-shadow: 2px 2px black;
    }

    #login{
        display: table-cell
    }
    
    
    h2{
        line-height: 1;
        color: rgb(160, 76, 17);
        /* margin-left: px; */
        font-weight: bolder;
        /* font-family: 'Montserrat', sans-serif; */
        /* font-family: 'Oxygen', sans-serif; */
        font-family: 'Crimson Text', serif;
    
        font-size: 24px;
    }

    #upRow{
        display: table-cell;
    }
    
    #title_section2{
        margin-top: 80px;
    }
    
    #reasons_title{
        color: #2a3e52;
        font-size: 46px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: bolder;
    }
    
    #section2{
        padding-top: 30px;
        background-color:#f5f9fd;
        clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 96%, 80% 100%, 20% 100%, 0 95%, 0 0);
    }
    .img_sec{
        margin-bottom: 20px;
    }
    
    #reasons_imgs{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 80px;
        height: 2100px;
        /* margin-left: 20px; */
    }
    
    #subtitle_section2{
        margin-top: 12px;
    }
    
    #reasons_subtitle{
        text-align: center;
        font-size: 28px;
        color: #2a3e52;
        line-height: 1.6;
        font-family: sans-serif;
    }
    
    h4{
        margin-bottom: 20px;
    }
    
    .card{
        margin-top: 30px;
        min-height: 550px;
        max-height: 550px;
        min-width: 300px;
        max-width: 300px;
    }
    
    .card:hover{
        -webkit-box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);
        -moz-box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);
        box-shadow: 21px -2px 40px 7px rgba(0,0,0,0.5);
        animation: course_container 5s linear 0s 1 normal forwards;
    }
    
    @keyframes course_container{
        0%{
            transform: translateX(-10px);
            font-weight: bold;
            transform: scale(1.05);
            /* border: 1px solid; */
            /* padding: 50px; */
            /* box-shadow: 5px 10px; */
            z-index: 1000;

        }
    
        25%{
            transform: translateX(-20px);
            font-weight: bold;
            transform: scale(1.1);
            z-index: 1000;
        }
    
        50%{
            transform: translateX(-10px);
            font-weight: bolder;
            transform: scale(1.15);
            z-index: 1000;
        }
    
        75%{
            transform: translateX(0px);
            font-weight: bolder;
            transform: scale(1.1);
            z-index: 1000;
        }
    
        100%{
            transform: translate(0);
            font-weight: bolder;
            transform: scale(1.05);
            z-index: 0;
        }
    }
    
    .card-text{
        text-align: initial;
        margin-bottom: 10px;
    }
    
    .card-text-color-1{
        color: slateblue;
    }
    
    .card-text-color-2{
        color: teal;
    }
    
    .card-text-color-3{
        color: chocolate;
    }
    
    
    
    .explanation_section_left{
        padding-left: 30px;
        padding-right: 30px;
        min-width: 360px;
        /* max-width: 360px; */
        /* margin-top: 20px; */
    }
    
    .explanation_section_right{
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 30px;
        min-width: 360px;
        /* max-width: 360px; */

    }
    
    span{
        text-align: center;
    }
    
    .explanation_section{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        min-width: 360px;
        /* max-width: 360px; */
    }
    
    .example-card {
        max-width: 400px;
      }
      
    .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    }
     
    .card-img-top{
        height: 220px;
    }
    
    #middle{
        height: 50px;
        background-color:#e5e8ec38
    }
    
    #section3{
        height: 800px;
        margin-bottom: 50px;
    }
    
    #title_section3{
        color: darkcyan;
        font-size: 36px;
    }
    
    #section4{
        /* height: 201px; */
        padding: 0px;
        
    }
    .purple {
        background-color: rgb(48, 92, 175) !important;
    }
    
    .section3_img{
        min-height: 200px;
        max-height: 200px;
    }
    
    .section3_why_great:hover{
        animation: section3_why_great_animation 5s linear 0s 1 normal forwards;
    
    }
    
    @keyframes section3_why_great_animation{
        0%{
            transform: translateX(-10px);
            font-weight: bold;
            transform: scale(1.002)
            /* border: 1px solid; */
            /* padding: 50px; */
            /* box-shadow: 5px 10px; */
        }
    
        25%{
            transform: translateX(-20px);
            font-weight: bold;
            transform: scale(1.04)
    
        }
    
        50%{
            transform: translateX(-10px);
            font-weight: bolder;
            transform: scale(1.05)
        }
    
        75%{
            transform: translateX(0px);
            font-weight: bolder;
            transform: scale(1.04)
        }
    
        100%{
            transform: translate(0);
            font-weight: bolder;
            transform: scale(1.02)
        }
    }
    
    #signUp_btn_section3{
        border-radius: 25px;
        margin-top: 15px;
    }
}