<mdb-carousel id="main-mdb-carousel">
    <mdb-carousel-item>
        <img class="d-block w-100 mainImg" src="assets\images\Nashville1-1024x741.jpg" alt="First slide">
    </mdb-carousel-item>
    <div id="upRow" @fade class="row">
        <div class="col-1"></div>
        <div class="col-5" id="company_name">
            <div class="row">
                <h1 data-aos="fade-right">ManageBCE</h1>
            </div>
            <div class="row">
                <h3>Manage Building Committee Easy</h3>
            </div>
        </div>
        <div class="col-2"></div>
        <div id="login" @fade class="col-3">
            <app-login></app-login>
        </div>
        <!-- <div class="col-1"></div> -->
    </div>
    <br>
    <div @fade class="row">
        <div class="col-1"></div>
        <div class="col-4" id="company_moto">
            <div class="row">
                <h2>Make your building management simple</h2>
            </div>
        </div>
        <div class="col-7"></div>
    </div>
</mdb-carousel>
<div id="section2" class="col-12">
    <div id="title_section2" class="row">
        <div class="col-12">
            <h1 id="reasons_title">Who is ManageBCE for?</h1>
        </div>
    </div>
    <div id="subtitle_section2" class="row">
        <div class="col-12">
            <h1 id="reasons_subtitle">Our innovative Platform help building committee to manage their building easy and fast</h1>
        </div>
    </div>
    <div id="reasons_imgs" class="row">
            <div class="col-4 explanation_section_left" data-aos="fade-right">
               <!-- Card Regular -->
                <div class="card card-cascade" >

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                    <img class="card-img-top" src="assets\images\pay_in_click.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
  
    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                
                    <!-- Title -->
                    <h4 class="card-title"><strong>Payments In Click</strong></h4>
                    <!-- Subtitle -->
                    <!-- <h6 class="font-weight-bold indigo-text py-2">Web developer</h6> -->
                    <!-- Text -->
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-1">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-7 card_text card-text-color-1">
                                <p>Adding new future payments</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-1">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-7 card_text card-text-color-1">
                                <p>Updating payments status</p>
                            </div>
                        </div>
                    </div>                
                    <!-- Facebook -->
                    <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                    <!-- Google + -->
                    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
                
                    </div>
                
                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center">
                    
                    </div>
                
                </div>
  <!-- Card Regular --> 
            </div>
            <div class="col-4 explanation_section">
                <div class="card card-cascade" data-aos="fade-down">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                    <img class="card-img-top" src="assets\images\charts.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
  
    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                
                    <!-- Title -->
                    <h4 class="card-title"><strong>Records and Charts</strong></h4>
                    <!-- Subtitle -->
                    <!-- <h6 class="font-weight-bold indigo-text py-2">Web developer</h6> -->
                    <!-- Text -->  
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-2">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-7 card_text card-text-color-2">
                                <p>Watching your payments in details</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-2">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-7 card_text card-text-color-2">
                                <p>Watching your group payments in general</p>
                            </div>
                        </div>
                    </div>                   
                    <hr>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-2">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-7 card_text card-text-color-2">
                                <p>Watching your group payments in details</p>
                            </div>
                        </div>
                    </div>   
                    <!-- Facebook -->
                    <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                    <!-- Google + -->
                    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
                
                    </div>
                
                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center">
                    
                    </div>
                
                </div>
  <!-- Card Regular --> 
            </div>
            <div class="col-4 explanation_section_right">
                <div class="card card-cascade" data-aos="fade-left">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                    <img class="card-img-top" src="assets\images\meeting.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    </div>
  
    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                
                    <!-- Title -->
                    <h4 class="card-title"><strong>Meetings</strong></h4>
                    <!-- Subtitle -->
                    <!-- Text -->
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-3">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-7 card_text card-text-color-3">
                                <p>Scheduling meetings</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-3">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-8 card_text card-text-color-3">
                                <p>Update meeting status</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-2 card_text card-text-color-3">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="col-8 card_text card-text-color-3">
                                <p>And more</p>
                            </div>
                        </div>
                    </div>            
                    <!-- Facebook -->
                    <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                    <!-- Google + -->
                    <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a>
                
                    </div>
                
                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center">
                    
                    </div>
                
                </div>
  <!-- Card Regular --> 
            </div>
        <!-- </div> -->
    </div>
</div>
<div id="section3" class="col-12">
    <div class="container my-5 py-5 z-depth-1" data-aos="fade-right">


        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <div class="text-center mb-5">
    
            <h3 id="title_section3" class="font-weight-bold">Meet the ManageBCE Platform</h3>
    
            <!-- <h5 class="h5">Lorem ipsum dolor, sit amet consectetur</h5> -->
    
          </div>
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <h5 class="h5">Why is it so great?</h5>

                <div (mouseover)="bookmarkIn(0)" (mouseout)="bookmarkOut(0)" class="card-text section3_why_great">
                    <div class="row">
                        <div class="col-2 card_text">
                            <mat-icon>{{bookmark[0]}}</mat-icon>
                        </div>
                        <div class="col-10 card_text">
                            <p>Watch Your Future Payments</p>
                    
                        </div>
                    </div>
                </div>
                <div (mouseover)="bookmarkIn(1)" (mouseout)="bookmarkOut(1)" class="card-text section3_why_great">
                    <div class="row">
                        <div class="col-2 card_text">
                            <mat-icon>{{bookmark[1]}}</mat-icon>
                        </div>
                        <div class="col-10 card_text">
                            <p>Watch Your History Payments</p>
                    
                        </div>
                    </div>
                </div>
                <div (mouseover)="bookmarkIn(2)" (mouseout)="bookmarkOut(2)" class="card-text section3_why_great">
                    <div class="row">
                        <div class="col-2 card_text">
                            <mat-icon>{{bookmark[2]}}</mat-icon>
                        </div>
                        <div class="col-10 card_text">
                            <p>Pay In One Click</p>
                        </div>
                    </div>
                </div>
                <div (mouseover)="bookmarkIn(3)" (mouseout)="bookmarkOut(3)" class="card-text section3_why_great">
                    <div class="row">
                        <div class="col-2 card_text">
                            <mat-icon>{{bookmark[3]}}</mat-icon>
                        </div>
                        <div class="col-10 card_text">
                            <p>Scheduling A Meeting</p>
                        </div>
                    </div>
                </div>
                <button [routerLink]="'/register'" id="signUp_btn_section3" type="button" class="btn btn-primary btn-rounded">Sign Up Now</button>


            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="{{section3_image_bookmark}}" class="img-fluid section3_img"
                  alt="">
                <!-- <a href="#">
                  <div class="mask rgba-white-light"></div>
                </a> -->
              </div>
    
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
        </section>
        <!--Section: Content-->
    
    
      </div>
</div>
<div id="section4" class="col-12">

    <footer class="page-footer font-small purple py-4 white-text">

        <!-- Footer Elements -->
        <div class="container">
    
        <div class="row">
            <div class="col-md-4">
            <h3 class="font-weight-bold mb-0">ManageBCE</h3>
            </div>
            <div class="col-md-4">
            <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2 text-uppercase">
                <li>
                    <a class="mx-3" role="button">About</a>
                </li>
                <li>
                    <a class="mx-3" role="button">Blog</a>
                </li>
                <li>
                    <a class="mx-3" role="button">Policy</a>
                </li>
                <li>
                    <a class="mx-3" role="button">Contact</a>
                </li>
            </ul>
            </div>
            <div class="col-md-4">
            <ul class="list-unstyled d-flex justify-content-end mb-0 mt-2">
                <li>
                    <a class="mx-3" role="button"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a class="mx-3" role="button"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a class="mx-3" role="button"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
            </div>
        </div>
    
        </div>
        <!-- Footer Elements -->
    
    </footer>
    <!-- Footer -->
</div>